.app_orange_theme {
    --bg-color: #cbcbcb;
    --inverted-bg-color: #d88b1d;
    --primary-color: #f54100;
    --secondary-color: #fbf7f4;
    --inverted-primary-color: #fbf7f4;
    --inverted-secondary-color: #f54100;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #aeaeae;

    // listBox
    --listbox-bg: #aeaeae;
}
